// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Utilities
// * Width
// * Flex
// * Ellipsis
// * Word break
// * Typography
// * Hidden
// * Cursor
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Width
// ============================================================
.is-fluid {
  width: 100%;
}

// Flex
// ============================================================
.is-flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-flex-spacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Ellipsis
// ============================================================
.is-ellipsis {
  @include ellipsis();
}

.is-nowrap {
  white-space: nowrap;
}

// Word break
// ============================================================
// All
.is-word-break-all {
  word-break: break-all;
}

// Word
.is-word-break-word {
  word-break: break-word;
}

// Typography
// ============================================================
// Label form
.text-label-form {
  @extend #{$text-style-first-md-bold};
  color: $color-gray-6;
}

// Hidden
// ============================================================
.hidden-mobile-md-max {
  @media (max-width: $breakpoint-mobile-md-max) {
    display: none;
  }
}

// Cursor
// ============================================================
.is-cursor {
  cursor: pointer;
}
