// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Utilities
// * Ellipsis
// * Word break
// * Typography
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

// Ellipsis
// ============================================================
.is-ellipsis {
  @include ellipsis();
}

// Word break
// ============================================================
// All
.is-word-break-all {
  word-break: break-all;
}

// Word
.is-word-break-word {
  word-break: break-word;
}

// Typography
// ============================================================
// Label form
.text-label-form {
  @extend #{$text-style-first-md-bold};
  color: $color-gray-5;
}
