// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Background container
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="background-container">
  Content here...
</div>
*/

// Mixins
// ============================================================
@mixin background-container-variant(
  $padding: 65px 0,
  $background: url('#{$path-file-shares}/bg-main.jpg') no-repeat center bottom,
  $line-position: absolute
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  min-height: 100vh;
  padding: $padding;
  background: $background;
  background-size: auto 58vh;

  &:before,
  &:after {
    content: ' ';
    display: block;
    position: $line-position;
    z-index: $z-index-1;
    left: 0;
    width: 100%;
    height: 10px;
  }

  &:before {
    top: 25px;
    background: url('#{$path-file-shares}/line-header.svg') no-repeat right center;
  }

  &:after {
    bottom: 25px;
    background: url('#{$path-file-shares}/line-footer.svg') no-repeat left center;
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .background-container-inner {
    background: url('#{$path-file-shares}/line-footer.svg') no-repeat left bottom;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-splash-screen,
  &.is-login {
    padding: 65px 0 0 0;

    &:after {
      display: none;
    }
  }

  &.is-splash-screen {
    .background-container-inner {
      height: calc(100vh - 18vh - 30px);
    }
  }

  &.is-login {
    height: 100vh;

    .background-container-inner {
      height: calc(100vh - 90px);
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.background-container {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include background-container-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Flexible
// ------------------------------------------------
.background-container-flexible {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include background-container-variant(
    $padding: $spacing-xs 0,
    $background: none,
    $line-position: static
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  &:before {
    padding-top: $spacing-md;
    background-position-y: top;
  }

  &:after {
    padding-top: $spacing-lg;
    background-position-y: bottom;
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
