// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Card
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="card">
  Content here...
</div>
*/

// Mixins
// ============================================================
@mixin card-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.card {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// News
// ------------------------------------------------
.card-news {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  position: relative;

  &:first-child {
    .postbar {
      &:before {
        display: none;
      }
    }
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .card-image {
    position: relative;
    background-color: $color-black;
  }

  .card-button {
    position: absolute;
    z-index: $z-index-1;

    &.is-purchase {
      bottom: 10px;
      width: 100%;
      text-align: center;

      .button {
        min-width: 240px;
      }
    }

    &.is-video {
      @include translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// News
// ------------------------------------------------
.card-news {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  position: relative;

  &:first-child {
    .postbar {
      &:before {
        display: none;
      }
    }
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .card-image {
    position: relative;
    background-color: $color-black;
  }

  .card-button {
    position: absolute;
    z-index: $z-index-1;

    &.is-purchase {
      bottom: 10px;
      width: 100%;
      text-align: center;

      .button {
        min-width: 240px;
      }
    }

    &.is-video {
      @include translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Product
// ------------------------------------------------
.card-product {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include card-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  display: flex;
  margin-bottom: 2px;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .product-image {
    position: relative;
    width: 30%;

    .label {
      position: absolute;
      z-index: $z-index-1;
      top: 3px;
      left: 3px;
    }
  }

  .product-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    padding-right: 50px;
    padding-left: 15px;
    background-color: $color-gray-2;

    // Arrow
    &:after {
      @include translateY(-50%);
      content: ' ';
      position: absolute;
      z-index: $z-index-1;
      top: 50%;
      right: 17px;
      width: 15px;
      height: 27px;
      background: url('#{$path-file-icons}/icon-next.svg') no-repeat;
    }

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 3px;
    }

    .logo {
      max-width: 50px;
      margin-right: 5px;
    }

    .name {
      @extend .is-ellipsis;
      @extend #{$text-style-second-xxs};
      max-width: 165px;
      padding-right: 5px;
      color: $color-white;
    }

    .description {
      @extend .is-ellipsis;
      @extend #{$text-style-second-tn};
      max-width: 215px;
      color: $color-white;
    }

    .point {
      @extend #{$text-style-first-lg-bold};
      color: $color-orange-1;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &:nth-child(even) {
    .product-info {
      background-color: $color-gray-1;
    }
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  .product-info {
    .logo {
      @media (max-width: $breakpoint-mobile-lg) {
        max-width: 12vw;
      }
    }

    .name {
      @media (max-width: $breakpoint-mobile-lg) {
        max-width: calc(39.8vw - 15px);
        font-size: 4.9vw;
      }
    }

    .description {
      @media (max-width: $breakpoint-mobile-lg) {
        max-width: calc(51vw - 15px);
        font-size: 2.9vw;
      }
    }

    .point {
      @media (max-width: $breakpoint-mobile-lg) {
        font-size: 6.8vw;
      }
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
