// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// container
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="container">
  Content here...
</div>
*/

// Mixins
// ============================================================
@mixin container-variant(
  $container-width: $breakpoint-mobile-lg
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  max-width: $container-width;
  margin: auto;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.container {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include container-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
