// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// container
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="container">
  Content here...
</div>
*/

// Mixins
// ============================================================
@mixin container-variant(
  $max-width: $breakpoint-mobile-lg,
  $min-height: 1px,
  $padding: 0 $spacing-xs
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  max-width: $max-width;
  min-height: $min-height;
  padding: $padding;
  margin: auto;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.container {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include container-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Line
// ------------------------------------------------
.container-with-line {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include container-variant(
    $min-height: calc(100vh - 105px)
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Content
// ------------------------------------------------
.container-content {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include container-variant(
    $padding: 0
  );

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  overflow: auto;
  margin-top: $topbar-height;
  height: calc(100vh - #{$topbar-height} - #{$navigationbar-height});

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .container-content-inner {
    padding: 15px 20px;

    &.is-side-padding-sm {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-except-topbar-title {
    margin-top: $topbar-title-height;
    height: calc(100vh - #{$topbar-title-height});
  }

  &.is-except-footer-button {
    height: calc(100vh - #{$topbar-height} - #{$button-height-default});
  }

  &.is-except-topbar-footer {
    margin-top: $topbar-title-height;
    // height: calc(100vh - #{$topbar-height} - #{$button-height-default} + 40px);
    height: calc(100vh - #{$topbar-height} - #{$button-height-default} - 40px);
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
