// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Field
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="field">
  <input class="field-input" type="text" placeholder="XXXXX">
  <p class="field-message">XXXXX</p>
</div>

<div class="field is-select">
  <select class="field-select" name="" id="">
    <option value="">XXXXX</option>
  </select>
  <p class="field-message">XXXXX</p>
</div>
*/

// Mixins
// ============================================================
@mixin field-variant(
  // Filed input
  $field-background-color: $color-white,
  $field-border-bottom: $border-width-mn solid $color-gray-4,
  $field-border-bottom-error-color: $color-red-1,
  $field-placeholder-color: $color-gray-3,
  $field-height: $field-height-default,
  $field-padding: 0 $spacing-tn,
  $field-text-style: $text-style-first-md-bold,
  $field-text-color: $color-gray-5,

  // Field message
  $field-message-padding: 0 $spacing-tn $spacing-tn,
  $field-message-text-style: $text-style-first-xxs-bold,
  $field-message-text-color: $color-red-1
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>


  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  background-color: $field-background-color;
  border-bottom: $field-border-bottom;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .field-input,
  .field-select {
    @include placeholder($color: $field-placeholder-color);
    @extend #{$field-text-style};
    width: 100%;
    height: $field-height;
    padding: $field-padding;
    border: 0;
    color: $field-text-color;

    &:focus {
      outline: initial;
    }
  }

  .field-message {
    @extend #{$field-message-text-style};
    display: none;
    padding: $field-message-padding;
    color: $field-message-text-color;
    text-align: left;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-error {
    border-bottom-color: $field-border-bottom-error-color;

    .field-input,
    .field-select {
      height: auto;
      padding-top: 10px;
    }

    .field-message {
      display: block;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  // Sizes
  &.is-sm {
    .field-input,
    .field-select {
      height: $field-height-sm;
    }
  }

  &.is-select {
    position: relative;

    &:after {
      content: ' ';
      @include translateY(-50%);
      pointer-events: none;
      position: absolute;
      z-index: $z-index-1;
      top: 50%;
      right: 0;
      display: block;
      width: $field-height-default;
      height: $field-height-default;
      background: $color-white url(#{$path-file-icons}/icon-arrow-select-menu.svg) no-repeat center;
    }
  }

  &.is-textarea {
    .field-input {
      max-width: 100%;
      height: 230px;
      padding: 20px;
    }
  }

  &.is-single-line {
    border-bottom-color: $color-orange-1;

    .field-input {
      @extend #{$text-style-first-sm-bold};
      height: auto;
    }
  }

  &.is-border {
    border: 1px solid $color-orange-1;
  }

  &.is-border-bold {
    border: 2px solid $color-gray-1;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-error {
    &.is-select {
      &:after {
        @include translateY(0);
        top: 0;
      }
    }

    &.is-textarea {
      .field-message {
        padding-top: 10px;
      }
    }

    &.is-single-line {
      border-bottom-color: $color-red-1;
    }

    &.is-border-bold {
      border-color: $color-red-1;
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.field {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include field-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Group field for Default
// ------------------------------------------------
.field-group {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .field-group-message {
    @extend #{$text-style-first-xxs-bold};
    display: none;
    padding: $spacing-tn $spacing-tn;
    border-bottom: $border-width-mn solid $color-gray-4;
    color: $color-red-1;
    text-align: left;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-error {
    .field {
      border-bottom-color: $color-red-1;

      &.is-select {
        &:after {
          @include translateY(0);
          top: 0;
        }
      }

      &.is-textarea {
        .field-message {
          padding-top: 10px;
        }
      }

      &.is-single-line {
        border-bottom-color: $color-red-1;
      }

      &.is-border-bold {
        border-color: $color-red-1;
      }
    }

    .field-group-message {
      display: block;
    }
  }

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
