// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Table
// * Structure & Detail
// * Mixins
// * Contextual variations
//   - Default
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Structure & Detail
// ============================================================
/*
<div class="table">
  Content here...
</div>
*/

// Mixins
// ============================================================
@mixin table-variant(
) {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .table-head-col,
  .table-col {
    text-align: center;

    // History point
    &.is-date {
      width: 20%;
    }

    &.is-brand {
      width: 15%;
    }

    &.is-serial {
      width: 35%;
    }

    &.is-point {
      width: 30%;
    }

    // History reward
    &.is-history-date {
      width: 25%;
    }

    &.is-reward {
      width: 50%;
    }

    &.is-used-point {
      width: 25%;
    }
  }

  .table-head {
    .table-row {
      background-color: $color-gray-4;
    }
  }

  .table-head-col {
    .text {
      @extend #{$text-style-first-sm-bold};
      color: $color-white;
    }
  }

  .table-body {
    .table-row {
      display: flex;
      background-color: $color-gray-2;

      &:nth-child(even) {
        background-color: $color-gray-1;
      }
    }
  }

  .table-col {
    .text {
      @extend #{$text-style-first-xs-bold};
      color: $color-gray-4;
    }
  }

  .table-row {
    display: flex;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  .table-head-col {
    .text {
      @media (max-width: $breakpoint-mobile-lg) {
        font-size: 5.8vw;
      }
    }
  }

  .table-col {
    .text {
      @media (max-width: $breakpoint-mobile-lg) {
        font-size: 5.4vw;
      }
    }
  }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}

// Contextual variations
// ============================================================

// Default
// ------------------------------------------------
.table {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include table-variant();

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
