// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Contact
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.contact {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .contact-title {
    margin-bottom: 10px;
  }

  .contact-message {
    margin-bottom: 2px;
  }

  .contact-upload-file {
    margin-bottom: 5px;
  }

  .contact-button {
    margin-bottom: 5px;

    &.is-group {
      display: flex;
      margin-left: -1px;

      .button {
        flex: 1;
        margin-left: 1px;
      }
    }
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  // .contact-button {
  //   &.is-group {
  //     .button {
  //       .button-text {
  //         @media (max-width: $breakpoint-mobile-lg) {
  //           font-size: 5.8vw;
  //         }
  //       }
  //     }
  //   }
  // }
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
