// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Insurance
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.insurance {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .insurance-list {
    padding-top: 45px;
    padding-bottom: 15px;
  }

  .insurance-title {
    margin-bottom: 20px;
    text-align: center;
  }

  .insurance-control {
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
