// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Register
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.register {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .register-segment {
    &.is-header {
      text-align: center;
    }
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .heading {
    @extend #{$text-style-first-lg-bold};
    position: relative;
    color: $color-orange-1;
  }

  .logo {
    @include translate(0, -50%);
    position: absolute;
    z-index: $z-index-1;
    top: 50%;
    right: 100%;
    margin-right: 50px;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
