// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Scan
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.scan {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 359px;
  height: 237px;
  margin-bottom: 90px;

  &:before {
    @include translate(-50%, -50%);
    content: ' ';
    position: absolute;
    z-index: $z-index-1;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: url('#{$path-file-shares}/bg-scan.svg') no-repeat;
    background-size: contain;
  }

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
  @media (max-width: $breakpoint-mobile-sm) {
    width: 260px;
    height: 172px;
    padding: 50px;
  }
}

.scan-control {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  @include translateX(-50%);
  position: absolute;
  z-index: $z-index-1;
  bottom: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $breakpoint-mobile-lg;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .button-shot {

  }

  .button-close {
    @include translateY(-50%);
    position: absolute;
    z-index: $z-index-1;
    top: 50%;
    right: 25px;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

.scan-form {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  width: 100%;
  padding-left: $spacing-xs;
  padding-right: $spacing-xs;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

.scan-segment {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>
  &.is-button {
    margin-top: $spacing-xs;
  }

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
