// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Splash screen
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

.splash-screen {
  // Mixins
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Helpers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Parent styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  margin-top: calc(18vh - 60px);
  text-align: center;

  // Child element styles
  // >>>>>>>>>>>>>>>>>>>>>>>
  .logo {
    width: 22vh;
  }

  // States
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // States with modifiers
  // >>>>>>>>>>>>>>>>>>>>>>>

  // Media queries
  // >>>>>>>>>>>>>>>>>>>>>>>
}

// Browser variations
// >>>>>>>>>>>>>>>>>>>>>>>
// IE 10-11
.ie {}

// Edge
.edge {}

// Safari mac
.safari {}

// Firefox
.firefox {}

// Safari iPhone/iPad
.safari-mobile {}

// Chrome Android
.chrome-mobile {}
